{% extends "network/layout.html" %}

{% block body %}

<script>
    document.addEventListener('DOMContentLoaded', ()=>{
        const likeButton = document.querySelectorAll('.like-button')
  likeButton.forEach(button=>{button.addEventListener('click', ()=>{
    let postId = button.getAttribute("data-id")
    fetch(`like/${postId}`,{
      headers:{'Accept': 'application/json',
        'X-Requested-With': 'XMLHttpRequest',
      },
    })
    .then(response=>{return response.json()})
    .then(data=>{
      console.log(data[0])
      button.innerHTML=`${data[0]} Likes`
   
    })
   })})
    })
  
</script>
<!--News feed-->
<div class="feed-container">
    <div class="feeds-heading">
        <h3 class="feeds-title">News Feeds</h3>
    </div>
    <form action="{% url 'post' %}" method="post" class="new-post-container">
        {% csrf_token %}
        <input type="text" name="post-content" id="" class="post-text form-control">
        <div class="post-actions">
            <input type="button" value="cancel" id="cancel-post" class="post-action btn-primary action">
            <input type="submit" value="Post" id="save-post" class="post-action btn-primary action">
        </div>
    </form>
    {% for post in allPosts %}
        <div class="post-container">
            <div class="post-header">
                <a href="{% url 'profile' poster=post.poster.id %}" class="poster-container">
                    <div class="poster-img"></div>
                    <div class="poster-name"><h5>{{post.poster}}</h5></div>
                </a>
                <div class="post-time"><small>{{post.timestamp}}</small></div>
            </div>

            <div class="post-body">
                <p class="post-content">{{post.content}}</p>
            </div>
            {% if user.is_authenticated %}
            <div class="post-footer">
                <div class="likes like-button" data-id="{{post.id}}">
                    <p class="number-of-likes"></p>
                    like
                </div>
                <div class="comment">comment</div>
                <div class="share">share</div>
                <div class="edit">edit</div>
            </div>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}
