{% extends "network/layout.html" %}

{% block body %}

<!--News feed-->
<div class="overlay"></div>
<div class="feed-container">
    {% if profile %}
      <div class="feeds-heading">
        <h3 class="feeds-title login-title">{{posterName}}'s Profile</h3>
      </div>
      <div class="user-info">
        <div class="personal">
          <div class="user-img profile-image ">
            {% if user_profile %}
            <img src="{{user_profile.image.url}}" alt=" no image" class="user-img image">
            {% else %}
            <img src="" alt="" class="user-img">
            {% endif %}
            {%if user_profile.user == user%}
            <button type="button" data-upload-url="{% url 'upload_pic' %}" class="edit-profile-pic">edit</button>
            {%endif%}
          </div>
          <div class="user-name"><strong>{{ posterName }}</strong></div>   
        </div>
    
        <div class="acc-details">
          <div class="followers-div">
            <h4 class="followers">{{followers}} Followers</h4>
          </div>
          <div class="following-div">
            <h4>{{following}} Following</h4>
          </div>
          {% if posterName.id != user.id  %}
            <input type="button" class="action nav-item follow" data-id="{{posterName.id}}" value="{%if isFollowing%}Unfollow{%else%}Follow{%endif%}">

          {% endif %}
             
        </div>
      </div>
    {% else%}
    <div class="feeds-heading">
        <h3 class="feeds-title">News Feeds</h3>
    </div>
    {% endif %}
    <form action="{% url 'post' %}" method="post" class="new-post-container">
        {% csrf_token %}
        <input type="text" name="post-content" id="" required class="post-text form-control">
        <div class="post-actions">
            <input type="button" value="cancel" id="cancel-post" class="post-action btn-primary action">
            <input type="submit" value="Post" id="save-post" class="post-action btn-primary action">
        </div>
    </form>
    {% for post in allPosts %}
        <div class="post-container">
            <div class="post-header">
                <a href="{% url 'profile' posterId=post.poster.id %}" class="poster-container">
                    <div class="poster-img">
                      {% if user_profile %}
                      <img src="{{post.poster.user_profile.image.url}}" alt=" no image" class="poster-img">
                      {% else %}
                      <img src="" alt="" class="poster-img">
                      {% endif %}
                    </div>
                    <div class="poster-name"><h5>{{post.poster}}</h5></div>
                </a>
                <div class="post-time"><small id="timestamp-{{post.id}}">{{post.timestamp|date:"Y-m-d H:i"}}</small></div>
            </div>

            <div class="post-body">
                <p class="post-content" id="content-{{post.id}}">{{post.content}}</p>
                <textarea name="edit-text" autofocus id="edit-{{post.id}}"></textarea>
            </div>
            {% if user.is_authenticated %}
            <div class="edit-footer" id="edit-footer-{{post.id}}">
                <button class=" edit-buttons buttons cancel-edit" id="cancel-{{post.id}}">cancel</button>
                <button class=" edit-buttons buttons save-changes" id="save-{{post.id}}">save</button>
            </div>
            <div class="post-footer" id="post-footer-{{post.id}}">
                <div class="likes buttons like-button" data-id="{{post.id}}">like</div>
                {% if post.poster == user %}
                <div class="edit buttons" data-id="{{post.id}}">edit</div>
                {% endif %}
            </div>

            {% endif %}
        </div>
        
    {% endfor %}

    {% if allPosts.paginator.num_pages > 1 %}
    <div class="pagination-control-container"> 
      {% if allPosts.has_previous %} <a class="paginator-control  paginator-nxt" href="?page={{allPosts.previous_page_number}}">prev</a> {% endif %}
      <span class="paginator-control">{{allPosts.number}}/{{allPosts.paginator.num_pages}}</span>
      {% if allPosts.has_next %} <a class="paginator-control paginator-nxt" href="?page={{allPosts.next_page_number}}">next</a> {% endif %}

    </div>
    {% endif %}
 
</div>
<div class="bottom-bar"></div>
{% endblock %}
