{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="{% static 'network/script.js' defer %}"></script>

    </head>
    <body>
<!--Navigation panel-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Network</a>
          
            <div class="user-nav-bar">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}?page=1">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My posts</a>
                    </li>
                {% endif %}
              </ul>
            </div>
        </nav>

<!--User panel-->
        <div class="user-panel">
            <div class="user-container">
                {% if user.is_authenticated %}
                    <div class="user-img-name-container">
                        <div class="user-img"></div>
                            <div class="user-name"><strong>{{ user.username }}</strong></div>   
                    </div>
                {% endif %}
                <div class="user-actions">
                    {% if user.is_authenticated %}
                        <a class="action nav-item" id="write-post" href="">Post</a>
                        <a href="{% url 'profile' poster=user.id %}" class="action nav-item">Profile</a>
                        <a class="action nav-item" href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                    <a class="action nav-item" href="{% url 'login' %}">Log In</a>
                    <a class="action nav-item" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>

<!--News Feeds-->
    <div class="feed-container"></div>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>