{% extends "network/layout.html" %}

{% block body %}

<div class="profile-container">
  <div class="feeds-heading">
    <h3 class="feeds-title login-title">Profile</h3>
  </div>
  <div class="user-info">
    <div class="personal">
      <div class="user-img "></div>
      <div class="user-name"><strong>{{ user.username }}</strong></div>   
    </div>

    <div class="acc-details">
      <div class="followers-div">
        <h4>Follower</h4>
      </div>
      <div class="following-div">
        <h4>Following</h4>
      </div>
      <div class="follow">
        <a href="" class="nav-item action"> Follow </a>
      </div>
    </div>
  </div>

  {% for post in userPosts %}
  <div class="post-container">
      <div class="post-header">
          <div class="poster-container">
              <div class="poster-img"></div>
              <div class="poster-name"><h5>{{post.poster}}</h5></div>
          </div>
          <div class="post-time"><small>{{post.timestamp}}</small></div>
      </div>

      <div class="post-body">
          <p class="post-content">{{post.content}}</p>
      </div>
      {% if user.username != post.poster %}
      <div class="post-footer">
          <div class="likes">like</div>
          <div class="comment">comment</div>
          <div class="share">share</div>
          <div class="edit">edit</div>
      </div>
      {% endif %}
  </div>
{% endfor %}
{% endblock %}