{% extends "network/layout.html" %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="register-container">
        <div class="feeds-heading">
            <h3 class="feeds-title login-title">Register</h3>
        </div>
        <form action="{% url 'register' %}" method="post" class="register-form">
            {% csrf_token %}
            <div class="form-group post-header">
                <input class="form-control form-field" required autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group post-header">
                <input class="form-control form-field" required type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group post-header">
                <input class="form-control form-field" required type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group post-header">
                <input class="form-control form-field" required type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input type="file" class="form-control form-field">
            <input class="btn btn-primary action" type="submit" value="Register">
        </form>

        Already have an account? <a class="action nav-item" href="{% url 'login' %}">Log In here.</a>

    </div>

    
{% endblock %}